#mandarinTitle{
    text-align: center;
}

#mandrin-list-1{
    list-style-type: none;
}
.cena:hover{
    color: gold;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
}
.french-info{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
#french-title{
    text-align: center;
    margin: 1em;
}
#french-translatorSection{
    text-align: center;
    margin: 1em;
}
.french-row{
    height: 40em;
}
/* center header text */
#hindi-main-header{
    text-align: center;
    padding: 2em
}

/* remove bullet points */
ul{
    list-style-type: none;
}

/* put translate into flex box */
#translator-section{
    display: flex;
    justify-content: center;
    padding: 1em
}

#title{
    display:flex;
    justify-content:center;
}
