.cena:hover{
    color: gold;
    font-weight: bold;
    font-size: 4em;
    text-transform: uppercase;
}
.french-info{
    font-family: Helvetica, sans-serif;
    font-size: 12pt;
    font-weight: normal;
}
#title{
    display:flex;
    justify-content:center;
}
